body {
    padding: 10px;
}

.section-heading {
    background-image: var(--bs-gradient);
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
}

.output-area, .input-area {
    padding: 5px;
    margin: 10px;
}

.copied-hide {
    display: none !important;
}

.working-hide {
    display: none !important;
}

.moreinfo {
    border: 0 none #fff;
    overflow: hidden;
    background-color: transparent;
    outline: none;
}

.moreinfo:focus {
    outline: none;
    background-color: transparent;
    border: 0 none #fff;
    overflow: hidden;
}

.overlay {
    background-color:#EFEFEF;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0px;
    left: 0px;
    opacity: .5; /* in FireFox */ 
    filter: alpha(opacity=50); /* in IE */
}
