@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --transition: all 120ms cubic-bezier(.34, 1.56, .64, 1);
}

body {
  font-family: Quicksand;
  padding: 0.5rem;
  background-color: #191a1b;
  color: rgba(255, 255, 255, 0.65);

  main {
    .section-heading {
      h2 {
        font-weight: 300;
        font-size: 1.1rem;
      }
    }

    .section {
      padding: 0 1rem;

      .group {
        display: flex;
        border-radius: .2rem;
        outline: 0.1rem solid rgba(255, 255, 255, 0.65);
        width: fit-content;
        background-color: rgba(255, 255, 255, 0.65);
        transition: var(--transition);

        .sep {
          border-left: solid 1px black;
          margin: .2rem;
        }

        &.clicked {
          background-color: rgba(255, 255, 255, 0.35);
        }

        input {
          background-color: transparent;
          font-family: unset;
          border: 0;
          font-size: 1.05rem;
          height: 3ch;
          width: auto;

          &.result {
            margin: 0;
            cursor: default;
          }
        }

        button {
          background-color: transparent;
          font-family: unset;
          border: 0;
          font-size: 1.05rem;
          cursor: pointer;
        }
      }

    }
  }

  .moreinfo,
  .etresult,
  .icresult {
    margin: 1rem 0 0 0;
  }

  footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    #github a {
      color: #f7f7f7;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 0.35rem 0.9rem;
      border-radius: 999px;
      font-weight: 700;
      letter-spacing: 0.02em;
      text-decoration: none;
      position: relative;
    }
  }
}
